.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    align-items: center;
    height: 60px;
    width: 100%; 
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.logo-img{
    width: 25px;
    height: 25px;
}

.logo-container .navlink{
    font-size: 18px;
    
}
.navlink{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}


