.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0px 100px 0px;
    width: 100%;
  }
  
  .contact-section h1 {
    align-content: center;
    margin-bottom: 40px;
    background-color: #FFFCF5;
    width: 100%;
    height: 80px;
    border-top: 2px solid;
    border-bottom: 2px solid;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 20%;
    gap: 40px;
  }
  
  .contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;

  }

  .icon-border{
    padding: 10px;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
  
  .contact-item img {
    width: 24px;
    height: 24px;
    
  }
  
  .contact-item a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  
  .contact-item a:hover {
    color: #007bff;
  }