.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: #fffff0;
}

.footer{
    background-color: #f7f7f7;
    width: fit-content;
    height: 200px;
}

h1{
    font-size: 20px;
}