.project-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 1rem;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  background-color: var(--secondary-bg-color);
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.8);
  }
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.project-status {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.done {
  background-color: greenyellow;
}

.ongoing {
  background-color: orange;
}
